
Strafin/obj/Strafin_qtkwhjnf_wpftmp.csproj.nuget.dgspec.json
.vs/ProjectEvaluation/strafin.metadata.v2
.vs/ProjectEvaluation/strafin.projects.v2
.vs/Strafin/DesignTimeBuild/.dtbcache.v2
.vs/Strafin/FileContentIndex/01756409-2ec4-46dd-845e-57efe7d229c3.vsidx
.vs/Strafin/FileContentIndex/read.lock
.vs/Strafin/v17/.futdcache.v1
.vs/Strafin/v17/.suo
