@page "/"

@using SharpDX.XInput
@using StrafinV2.Data




<h3>Strafe Viewer</h3>

<p role="status">Current left joystick X position: @XInputController.left_x</p>

<p role="status">Current left joystick Y position: @XInputController.left_y</p>

<p role="status">Current right joystick X position: @XInputController.right_x</p>

<p role="status">Current right joystick Y position: @XInputController.right_y</p>

<button class="btn btn-primary" @onclick="StartJoyStickUpdating">Start Viewer</button>

<BECanvas Width="300" Height="400" @ref="_canvasReference"></BECanvas>

@code
{
    private Canvas2DContext _context;
    protected BECanvasComponent _canvasReference;
    Timer timer;
    int a = 10;
    private void StartJoyStickUpdating()
    {
        timer = new Timer(UpdateJoySticksCallBack, null, 10, 30);
    }

    private async void UpdateJoySticksCallBack(object state)
    {
        await Task.Run(() => XInputController.Update());
        await Task.CompletedTask;
        await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        this._context = await this._canvasReference.CreateCanvas2DAsync();
        await this._context.SetFillStyleAsync("green");
        
        await this._context.FillRectAsync(a, 100, 100, 100);
        

        
        await this._context.SetFontAsync("48px serif");
        await this._context.StrokeTextAsync(a.ToString(), 10, 100);
        a = a + 10;
    }
}


