@page "/strafeviewer"

@using SharpDX.XInput
@using StrafinV2.Data




<h3>Strafe Viewer</h3>

<p role="status">Current left joystick X position: @XInputController.left_x</p>

<p role="status">Current left joystick Y position: @XInputController.left_y</p>

<p role="status">Current right joystick X position: @XInputController.right_x</p>

<p role="status">Current right joystick Y position: @XInputController.right_y</p>

<button class="btn btn-primary" @onclick="XInputController.Update">Update Coords</button>

<StrafeViewerCanvas></StrafeViewerCanvas>

@code {}


