@using Data
<button class="btn btn-primary" @onclick="UpdateJoySticks">Start Viewer</button>


@code {
    float left_x = XInputController.left_x;

    float left_y = XInputController.left_y;

    float right_x = XInputController.right_x;

    float right_y = XInputController.right_y;

    private void UpdateJoySticks()
    {
        XInputController.Update();

    }
    
    

     /*Draw joystick*/
     //if (gamepad.Update())
     //       {
     //           if (iter == 0)
     //           {
     //               canvas.Children.RemoveRange(3, 30);
     //               iter = 30;
     //           }
     //           else
     //           {
     //               iter--;
     //           }

     //           double transformedX = 0 + (gamepad.left_x * 1.6);
     //           double transformedY = 200 - (gamepad.left_y * 1.6);

     //           Line myLine = new Line();
     //           myLine.Stroke = System.Windows.Media.Brushes.LightSteelBlue;
     //           myLine.X1 = oldX;
     //           myLine.X2 = transformedX;
     //           myLine.Y1 = oldY;
     //           myLine.Y2 = transformedY;
     //           myLine.StrokeThickness = 3;
     //           myLine.Uid = "myline";
     //           aLine = myLine;

     //           oldX = transformedX;
     //           oldY = transformedY;

     //           canvas.Children.Add(myLine);
     //       }
}
