@page "/strafeviewer"

@using SharpDX.XInput
@using StrafinV2.Models

<h3>Strafe Viewer</h3>

<p role="status">Current left joystick X position: @currentLeftStickX</p>

<p role="status">Current left joystick Y position: @currentLeftStickY</p>

<span id="error"></span>

<button class="btn btn-primary" @onclick="updateLeftStickCoords">Update Coords</button>

@code {
    private float currentLeftStickX = 0;
    private float currentLeftStickY = 0;

    private void updateLeftStickCoords()
        {
            XInputController gamepad = new XInputController();

            if (gamepad.Update())
            {
                currentLeftStickX = gamepad.left_x;
                currentLeftStickY = gamepad.left_y;
            }
            else
            {

            
            }
        }
}


